<md-button 
        class="md-button-toggle storm-menu-font-color storm-bkg-color" 
        ng-class="{toggled : isOpen()}"
        ng-click="toggle()"
        aria-controls="docs-menu-{{section.name | nospace}}"
        flex layout="row"
        aria-expanded="{{isOpen()}}"
>
                {{section.name}}
                <md-icon md-font-set="fa fa-chevron-down" class="md-toggle-icon storm-menu-font-color" ng-class="{toggled : isOpen()}">
                </md-icon>
</md-button>
<ul ng-show="isOpen()" id="docs-menu-{{section.name | nospace}}" class="storm-menu-toggle-list storm-menu-font-color">
        <li ng-repeat="page in section.pages" class="storm-li-size">
                <os-app-menu-link section="page">
                </os-app-menu-link>
        </li>
</ul> 
        